/*
!/.bash_profile
!/.bashrc
!/.clang-format
!/.editorconfig
!/.gitconfig
!/.gitignore
!/.p10k.zsh
!/.prettierrc.json
!/.zshrc
!/.bash_profile
!/.bashrc

!/alacritty/
!/bat/
!/bottom/
!/clangd/
!/cmus/
!/fastfetch/
!/ghostty/
!/hyde/
!/hypr/
!/kanata/
!/kew/
!/kitty/
!/nvim/
!/river/
!/silicon/
!/spicetify/
!/swappy/
!/systemd/
!/tmux/
!/waybar/
!/yazi/
!/zathura/
!/delta/
!/lazygit/
!/lazydocker/
