* {
    main-bg:            #12121b;
    main-fg:            #cdd6f4;
    main-br:            #cdd6f4;
    main-ex:            #a6adc8;
    select-bg:          #1b1b28;
    select-fg:          #cdd6f4;
    separatorcolor:     transparent;
    border-color:       transparent;
}
