* {
    main-bg:            #0e0e16;
    main-fg:            #cdd6f4;
    main-br:            #cdd6f4;
    main-ex:            #a6adc8;
    select-bg:          #12121b;
    select-fg:          #cdd6f4;
    separatorcolor:     transparent;
    border-color:       transparent;
}
